<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

    <div>
        <p1>로그인 이후 보여지는 페이지</p1>
    </div>

    </hr>

    <div sec:authorize="isAuthenticated()">
        권한있는 누구나 보입니다.
    </div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        어드민만 보입니다.
    </div>
    <div sec:authorize="hasRole('ROLE_MANAGER')">
        어드민, 매니저에게 보입니다.
    </div>
    <div sec:authorize="hasRole('ROLE_MEMBER')">
        어드민, 매니저, 멤버에게 보입니다.
    </div>

    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}">
            <input type="submit" value="로그아웃">
        </form>
    </div>
    <br>
    [로그인 이후 세션에 정보로 사용자 정보 보기]
    <div>
        <span th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal}"></span>
    </div>



</body>
</html>